# Basic Data Types and operations

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integers" data-toc-modified-id="Integers-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Integers</a></span></li><li><span><a href="#Floats" data-toc-modified-id="Floats-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Floats</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Booleans" data-toc-modified-id="Booleans-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Booleans</a></span></li><li><span><a href="#Composite-Data-Types" data-toc-modified-id="Composite-Data-Types-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Composite Data Types</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-reading" data-toc-modified-id="Further-reading-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Further reading</a></span></li></ul></div>

## Integers

Non decimal numbers

In [7]:
18 + 10

28

In [8]:
edad = 18

In [9]:
lapso = 10

In [10]:
edad + lapso

28

In [23]:
edad_luego = edad + lapso

In [24]:
edad_luego

28

In [13]:
type(7)

int

In [25]:
edad_luego

28

In [26]:
type(edad_luego)

int

## Floats

In [28]:
type(0.7)

float

In [29]:
type(3)

int

In [30]:
type(3.0)

float

In [31]:
4.5 + 9

13.5

In [32]:
1 - 7.5

-6.5

In [33]:
a = 2
b = 3
c = 4

In [34]:
a * b

6

In [35]:
3 * (3 + 1)

12

`**` powers base to exponent. In `a ** b`, `a` is the base, `b` is the exponent

In [38]:
a ** b

8

In [36]:
10 ** 2

100

In [37]:
10 ** 3

1000

In [39]:
2 ** 5

32

In [40]:
1 / 8

0.125

In [41]:
100 / 5

20.0

$$a^{-b}=\frac{1}{a^b}$$

In [43]:
2 ** (-3)

0.125

In [44]:
10 ** (-3)

0.001

In [45]:
(-2) ** 3

-8

In [46]:
n = 12

In [47]:
n / 5

2.4

In [48]:
23 / 5

4.6

In [51]:
23 // 5

4

In [52]:
23 % 5

3

In [56]:
7 % 2

1

In [57]:
20 % 4 # resto

0

In [58]:
for number in range(100):
    if number % 9 == 0:
        print(number)

0
9
18
27
36
45
54
63
72
81
90
99

In [59]:
import time

In [63]:
for i in range(100):
    # long process simulation
    time.sleep(0.1)
    
    if i % 10 == 0:
        print(f"voy por {i}")

voy por 0
voy por 10
voy por 20
voy por 30
voy por 40
voy por 50
voy por 60
voy por 70
voy por 80
voy por 90

In [64]:
abs(-5.5)

5.5

In [65]:
abs(5.5)

5.5

In [78]:
type(5.6)

float

In [83]:
type("5.6")

str

In [84]:
float("5.6")

5.6

In [85]:
float("hola")

ValueError: could not convert string to float: 'hola'

In [94]:
introduccion = input("Cuántos años tienes? ")
edad = int(introduccion)
print(type(edad))
print(f"El año que viene tendrás {edad + 1}")

Cuántos años tienes? 32
<class 'int'>
El año que viene tendrás 33

In [105]:
round(6.77)

7

In [102]:
round(6.77, 1)

6.8

In [103]:
round(6.7785843, 4)

6.7786

In [107]:
import math

In [109]:
math.floor(6.55)

6

In [110]:
math.ceil(6.23)

7

In [111]:
10 ** 4

10000

In [112]:
math.log10(100)

2.0

In [113]:
math.log10(1000)

3.0

In [114]:
math.log10(10000)

4.0

## Strings

In [119]:
nombre = "juan"

In [120]:
type(nombre)

str

In [121]:
frase = "Estoy animado esta manana"

In [125]:
nombre = "Manuel"

In [123]:
frase

'Estoy animado esta manana'

In [124]:
frase + nombre

'Estoy animado esta mananaManuel'

In [126]:
nombre * 4

'ManuelManuelManuelManuel'

In [127]:
nombre * 4.1

TypeError: can't multiply sequence by non-int of type 'float'

In [128]:
nombre

'Manuel'

In [129]:
# check contains
"a" in nombre

True

In [132]:
# check contains
"an" in nombre

True

In [133]:
# check contains
"ana" in nombre

False

In [134]:
nombre

'Manuel'

In [135]:
len(nombre)

6

In [136]:
frase

'Estoy animado esta manana'

`len` is a function that operates on string variable `frase`

In [137]:
len(frase)

25

`upper` is a method of the string class

In [138]:
nombre.upper()

'MANUEL'

In [141]:
nombre.lower()

'manuel'

In [144]:
nombre.endswith('o')

False

In [145]:
nombre.isupper()

False

In [146]:
# look for methods
nombre.*low*?

In [149]:
# look for methods
nombre.*cap*?

In [160]:
nombre = "arturo"

In [161]:
nombre

'arturo'

In [163]:
nombre.replace("t", "p")

'arpuro'

Slicing

In [167]:
frase

'Estoy animado esta manana'

In [168]:
frase[0]

'E'

In [169]:
frase[4]

'y'

In [170]:
frase[-1]

'a'

In [171]:
frase[3:10]

'oy anim'

In [172]:
frase[:10]

'Estoy anim'

In [173]:
frase[12:]

'o esta manana'

In [174]:
frase[-3:]

'ana'

In [175]:
type(frase)

str

In [176]:
frase

'Estoy animado esta manana'

In [177]:
palabras = frase.split(" ")

In [178]:
palabras

['Estoy', 'animado', 'esta', 'manana']

In [181]:
type(palabras)

list

In [180]:
frase.split("a")

['Estoy ', 'nim', 'do est', ' m', 'n', 'n', '']

## Booleans

In [182]:
True

True

In [183]:
False

False

In [185]:
type(True)

bool

In [186]:
tiene_entrada = False

In [187]:
tiene_entrada

False

In [188]:
not tiene_entrada

True

In [189]:
if tiene_entrada:
    print("pasa")
else:
    print("vete")

vete

In [192]:
n = 12

In [193]:
n

12

In [194]:
n > 5

True

In [195]:
n > 6

True

In [196]:
4 == 3 + 1

True

In [197]:
4 == 3 + 2

False

In [198]:
5 == "5"

False

In [199]:
edad = 15

In [200]:
edad > 18

False

In [201]:
if edad > 18:
    print('mayor')
else:
    print('menor')

menor

In [202]:
edad

15

In [208]:
(edad > 16) or (edad % 4 == 0)

False

In [209]:
(edad > 16) and (edad % 3 == 0)

False

In [210]:
(edad > 14) and (edad % 3 == 0)

True

## Composite Data Types

### Lists

In [212]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi"]

In [213]:
type(nombres)

list

In [214]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi']

In [215]:
# list can be appended elements (vs tuple)
nombres.append("Jose")

In [216]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 'Jose']

lists can contain different types

In [217]:
mi_lista = [4, True, "pepe"]

In [219]:
type(mi_lista)

list

Slicing

In [227]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 'Jose']

In [228]:
nombres[1]

'Pepe'

In [229]:
nombres[1:3]

['Pepe', 'Sonia']

In [230]:
nombres[:3]

['Rafa', 'Pepe', 'Sonia']

In [231]:
nombres[2:]

['Sonia', 'Javi', 'Jose']

In [232]:
# assign
nombres[0] = "Rafa R."

In [233]:
nombres

['Rafa R.', 'Pepe', 'Sonia', 'Javi', 'Jose']

In [235]:
nombres.remove("Pepe")

In [236]:
nombres

['Rafa R.', 'Sonia', 'Javi', 'Jose']

In [237]:
nombres.remove("Jose")

In [238]:
nombres

['Rafa R.', 'Sonia', 'Javi']

In [239]:
nombres.reverse()

In [240]:
nombres

['Javi', 'Sonia', 'Rafa R.']

In [241]:
"Pepe" in nombres

False

In [242]:
"Pepe" not in nombres

True

In [243]:
"Sonia" in nombres

True

In [244]:
equipos = ["RM", "Barca", "Zgz"]

In [245]:
nombres + equipos

['Javi', 'Sonia', 'Rafa R.', 'RM', 'Barca', 'Zgz']

In [246]:
equipos * 3

['RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz']

In [248]:
nombres

['Javi', 'Sonia', 'Rafa R.']

In [247]:
len(nombres)

3

In [249]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [250]:
type(edades)

list

In [251]:
min(edades)

12

In [252]:
max(edades)

86

In [254]:
edades.count(12)

2

In [255]:
edades.count(13)

0

In [256]:
nombres

['Javi', 'Sonia', 'Rafa R.']

In [257]:
nombres.index("Sonia")

1

In [258]:
nombres.sort()

In [259]:
nombres

['Javi', 'Rafa R.', 'Sonia']

In [263]:
nombres.index("Sonia")

2

In [260]:
edades.sort()

In [261]:
edades

[12, 12, 23, 35, 44, 67, 86]

In [264]:
amigos_de_students = [["Pepe", "Javi"], ["Paula", "Roćio", "Santi"]]

In [265]:
len(amigos_de_students)

2

In [266]:
amigos_de_students[0]

['Pepe', 'Javi']

In [267]:
amigos_de_students[1]

['Paula', 'Roćio', 'Santi']

In [268]:
amigos_de_students[1][2].upper()

'SANTI'

In [269]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [270]:
len(paises)

91

keep countries containing "r", and turn them upper case

In [288]:
paises_especiales = []

In [289]:
letra = "m"

In [290]:
for pais in paises:
    if letra in pais:
        paises_especiales.append(p.upper())

In [291]:
paises_especiales

['ARMENIA',
 'BAHAMAS',
 'BELGIUM',
 'CAMBODIA',
 'CAMEROON',
 'COLOMBIA',
 'COMOROS',
 'CONGO {DEMOCRATIC REP}',
 'DENMARK',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'EAST TIMOR',
 'GAMBIA',
 'GERMANY',
 'GUATEMALA',
 'JAMAICA']

In [299]:
for i, n in enumerate(nombres):
    print(f"el nombre {n} está en la posición {i}")

el nombre Javi está en la posición 0
el nombre Rafa R. está en la posición 1
el nombre Sonia está en la posición 2

### Tuples

vs Lists: not dynamic

In [301]:
edades = (12, 31, 55)

In [303]:
type(edades)

tuple

In [304]:
edades

(12, 31, 55)

In [305]:
edades[0]

12

Tuples are inmutable: you cannot 
 - change its entries
 - append new values

In [306]:
edades[0] = 11

TypeError: 'tuple' object does not support item assignment

In [307]:
edades.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [308]:
len(edades)

3

In [309]:
mas_edades = (44, 45, 48)

In [310]:
edades + mas_edades

(12, 31, 55, 44, 45, 48)

In [315]:
list("weekend")

['w', 'e', 'e', 'k', 'e', 'n', 'd']

In [318]:
letters = tuple("weekend")

In [319]:
letters

('w', 'e', 'e', 'k', 'e', 'n', 'd')

Slicing

In [320]:
letters[:4]

('w', 'e', 'e', 'k')

In [322]:
mis_strings = ["43", "45"]

In [324]:
mis_numeros = []

In [325]:
for s in mis_strings:
    mis_numeros.append(int(s))

In [326]:
mis_numeros

[43, 45]

Single element tuples:

In [340]:
my_tup = (7, )

In [341]:
type(my_tup)

tuple

In [342]:
len(my_tup)

1

Tuples:
 * Faster
 * Data cannot be modified

### Sets

 * Unordered
 * Unique elements

In [343]:
paises = ["France"] * 3 + ["Spain"] * 5 + ["US"] * 2

In [344]:
paises

['France',
 'France',
 'France',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'US',
 'US']

In [345]:
paises_unicos_yo = set(paises)

In [346]:
paises_unicos_yo

{'France', 'Spain', 'US'}

In [347]:
type(paises_unicos_yo)

set

In [350]:
paises_unicos_yo.update({"Rusia", "Japón", "Spain"})

In [351]:
paises_unicos_yo

{'France', 'Japón', 'Rusia', 'Spain', 'US'}

In [353]:
paises_unicos_tu = {"Spain", "Ireland", "Italy", "Venezuela"}

In [354]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela'}

In [355]:
paises_unicos_tu.union(paises_unicos_yo)

{'France', 'Ireland', 'Italy', 'Japón', 'Rusia', 'Spain', 'US', 'Venezuela'}

In [356]:
paises_unicos_tu.intersection(paises_unicos_yo)

{'Spain'}

In [357]:
paises_unicos_tu.difference(paises_unicos_yo)

{'Ireland', 'Italy', 'Venezuela'}

In [359]:
paises_unicos_tu.issubset(paises_unicos_yo)

False

In [362]:
list(paises_unicos_tu)

['Venezuela', 'Ireland', 'Italy', 'Spain']

In [363]:
type(paises_unicos_tu)

set

In [361]:
paises_unicos_tu.append("Canada")

AttributeError: 'set' object has no attribute 'append'

In [370]:
paises_unicos_tu.add("Zimbabwe")

In [371]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela', 'Zimbabwe'}

In [372]:
paises_unicos_tu.add("Zimbabwe")

In [373]:
paises_unicos_tu

{'Ireland', 'Italy', 'Spain', 'Venezuela', 'Zimbabwe'}

In [ ]:
# lists, sets, tuples can contain arbitrary objects
# if same type, may not be the best containers

In [374]:
cosas = [31, "pepe", True, (4, 5, 6)]

In [376]:
cosas

[31, 'pepe', True, (4, 5, 6)]

In [377]:
type(cosas)

list

In [378]:
len(cosas)

4

In [379]:
cosas[-1]

(4, 5, 6)

### Dictionaries

In [380]:
# bad
manu = [31, "manuel", "Madrid", 1.84, False]

In [392]:
n_hermanos = 6

In [394]:
# good 
persona = {
    "age": 31,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "familia_numerosa": n_hermanos > 4,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [395]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'familia_numerosa': True,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [391]:
type(persona)

dict

In [387]:
persona["age"]

31

In [388]:
persona["name"]

'Manuel'

In [389]:
persona["name"] = "Manuel Lopez"

In [396]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'familia_numerosa': True,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [397]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [398]:
cities_population["Barcelona"]

5000000

In [399]:
cities_population["Madrid"]

6000000

In [400]:
cities_population["Paris"]

KeyError: 'Paris'

In [401]:
persona.keys()

dict_keys(['age', 'name', 'city', 'height', 'has_children', 'familia_numerosa', 'friends', 'ocupacion'])

In [402]:
persona.values()

dict_values([31, 'Manuel', 'Madrid', 1.84, False, True, ['Juan', 'Luis'], {'name': 'profe', 'tiempo': 3, 'salario': 100}])

In [403]:
persona

{'age': 31,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'familia_numerosa': True,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [407]:
for key, value in persona.items():
    print(f"{key} has value {value}")

age has value 31
name has value Manuel
city has value Madrid
height has value 1.84
has_children has value False
familia_numerosa has value True
friends has value ['Juan', 'Luis']
ocupacion has value {'name': 'profe', 'tiempo': 3, 'salario': 100}

## Summary

 * Lists and Dictionaries are used a lot.
 * Lists vs tuples (static, inmutable)
 * Sets have unique elements

## Further reading

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [408]:
a = [1, 2]

In [409]:
b = [1, 2]

In [410]:
a == b

True

In [411]:
a is b

False