# Comprehensions

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-list-comprehensions" data-toc-modified-id="Basic-list-comprehensions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic list comprehensions</a></span><ul class="toc-item"><li><span><a href="#for-loop" data-toc-modified-id="for-loop-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><code>for</code> loop</a></span></li><li><span><a href="#for-loop-&amp;-if-condition" data-toc-modified-id="for-loop-&amp;-if-condition-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><code>for</code> loop &amp; <code>if</code> condition</a></span></li><li><span><a href="#if-else-assignment-inside-for-loop" data-toc-modified-id="if-else-assignment-inside-for-loop-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><code>if else</code> assignment inside <code>for</code> loop</a></span></li></ul></li><li><span><a href="#Double-list-comprehensions" data-toc-modified-id="Double-list-comprehensions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Double list comprehensions</a></span></li><li><span><a href="#Nested-list-comprehensions" data-toc-modified-id="Nested-list-comprehensions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Nested list comprehensions</a></span></li><li><span><a href="#Dictionary-comprehensions" data-toc-modified-id="Dictionary-comprehensions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionary comprehensions</a></span></li><li><span><a href="#Set-comprehensions" data-toc-modified-id="Set-comprehensions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Set comprehensions</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Timings" data-toc-modified-id="Timings-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Timings</a></span></li></ul></div>

## Basic list comprehensions

### `for` loop

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

In [2]:
type(words)

list

In [3]:
len(words)

10

In [4]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

**Exercise**: we want another list with same words in upper case (may√∫sculas)

In [5]:
# reminder: upper of a word
"pepe".upper()

'PEPE'

In [18]:
words_big = []

In [19]:
for word in words:
    word_big = word.upper()
    words_big.append(word_big)

In [20]:
words_big

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

In [30]:
# equiv
words_big = []
for word in words:
    words_big.append(word.upper())

To know what we iterate through we can use `break` and `type`

In [26]:
for w in enumerate(words):
    print(type(w))
    print(w)
    break

<class 'tuple'>
(0, 'play')

In [24]:
for ind, word in enumerate(words):
    print(ind)
    print(word)
    break

0
play

Let's create UPPER list with a comprehension

<img width=600 src="https://miro.medium.com/max/1022/1*RycJnooSC4_amWAXsvvKhw.png">

In [31]:
words_big = [w.upper() for w in words]

$$\{n^2 : n \in \mathbb{N}\}$$

In [33]:
words_big

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Exercise**: we want a list containing the squares of numbers from 1 to 10.

In [34]:
nums = list(range(10))

In [35]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# classic
squares = []
for n in nums:
    squares.append(n ** 2)

In [38]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
# list comprehension
squares = [n ** 2 for n in nums]

In [43]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### `for` loop & `if` condition

**Exercise**: We want the sub-list with words longer than 6 characters.

In [45]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [ ]:
idUsuario =

In [ ]:
max_len = 6

In [ ]:
words

In [46]:
len("mesonero")

8

In [54]:
# classic
long_words = []

for word in words:
    if len(word) > 6:
        long_words.append(word)

In [55]:
long_words

['filling', 'theatre', 'easygoing']

<img width=600 src="https://www.mrdbourke.com/content/images/2019/09/python-list-comprehension-article.png">

In [61]:
# list comprehension
[w[:4].replace("a", "b") for w in words]

['plby', 'fill', 'bbr', 'theb', 'ebsy', 'dbte', 'lebd', 'thbt', 'stor', 'islb']

In [64]:
# list comprehension
[w for w in words if len(w) > 6]

['filling', 'theatre', 'easygoing']

In [66]:
ages = [33, 16, 88, 34, 15, 44, 21]

**Exercise**: Build a list with all multiples of 5 between 0 and 100.

In [72]:
# classic
multiples = []
for n in range(101):
    if n % 5 == 0:
        multiples.append(n)

In [78]:
amigos = ["pepe", "manu", "dario"]

In [82]:
# list comprehension
[n for n in range(101) if n % 5 == 0]

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

Examples

In [83]:
[2 * x for x in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [84]:
[7 for x in range(10)]

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [86]:
[x ** 2 for x in range(10) if x % 2 == 1]

[1, 9, 25, 49, 81]

In [91]:
[numerito ** 2 for numerito in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### `if else` assignment inside `for` loop

Let's first learn how to if-else assign a value to a variable in one line:

In [92]:
word = "computer"

In [93]:
if len(word) > 5:
    word_type = "long"
else:
    word_type = "short"

In [94]:
word_type

'long'

In [95]:
# equivalent one liner
word_type = "long" if len(word) > 5 else "short"

In [96]:
word_type

'long'

In [103]:
age = 22

In [104]:
mayor = "si" if age > 18 else "no"

In [105]:
mayor

'si'

**Exercise**: given a list of words, create another list with the same length, computing whether each word is long or short

In [106]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [107]:
# classic
types = []

for w in words:
    w_type = "long" if len(w) > 5 else "short"
    types.append(w_type)

In [108]:
types

['short',
 'long',
 'short',
 'long',
 'long',
 'short',
 'short',
 'short',
 'short',
 'long']

In [116]:
# comprehension
[("long" if len(w) > 5 else "short") for w in words]

['short',
 'long',
 'short',
 'long',
 'long',
 'short',
 'short',
 'short',
 'short',
 'long']

In [113]:
# other thing
[w for w in words if len(w) > 5]

['filling', 'theatre', 'easygoing', 'island']

`if` to the right of `for` filters the list

## Double list comprehensions

**Exercise**: we are 4 friends. We want to visit 3 countries.  
Create a list of strings, containing all the posibilities of "name loves country"

How many combinations are there?

In [119]:
countries = ["Brasil", "Morocco", "New Zealand"]
friends = ["Alice", "Bob", "Eve", "John"]

In [120]:
3 * 4

12

In [141]:
# classic
for fr in friends:
    for c in countries:
        print(f"{fr} loves {c}")

Alice loves Brasil
Alice loves Morocco
Alice loves New Zealand
Bob loves Brasil
Bob loves Morocco
Bob loves New Zealand
Eve loves Brasil
Eve loves Morocco
Eve loves New Zealand
John loves Brasil
John loves Morocco
John loves New Zealand

In [136]:
# list comprehension
pairs = [fr + " loves " + c.upper() for fr in friends for c in countries]

In [137]:
pairs

['Alice loves BRASIL',
 'Alice loves MOROCCO',
 'Alice loves NEW ZEALAND',
 'Bob loves BRASIL',
 'Bob loves MOROCCO',
 'Bob loves NEW ZEALAND',
 'Eve loves BRASIL',
 'Eve loves MOROCCO',
 'Eve loves NEW ZEALAND',
 'John loves BRASIL',
 'John loves MOROCCO',
 'John loves NEW ZEALAND']

In [138]:
len(pairs)

12

## Nested list comprehensions

In [142]:
friends

['Alice', 'Bob', 'Eve', 'John']

Build a list of lists with names in upper and lower

first element shold be `["Alice", "ALICE", "alice"]`

In [153]:
# list comprehension
[[fr, fr.upper(), fr.lower()] for fr in friends]

[['Alice', 'ALICE', 'alice'],
 ['Bob', 'BOB', 'bob'],
 ['Eve', 'EVE', 'eve'],
 ['John', 'JOHN', 'john']]

In [154]:
len(_)

4

## Dictionary comprehensions

**Exercise**: you are given a list of words. Write a dictionary containing the length of every word.

In [166]:
person = {
    "name": "manu"
}

In [167]:
person

{'name': 'manu'}

In [168]:
person["age"] = 32

In [169]:
person

{'name': 'manu', 'age': 32}

In [158]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

```
{
    "play": 4,
    "filling": 7,
    ...
}
```

In [ ]:
# classic
word_dict = dict()
# equiv to {} but less readable (couldn't it be a set?)

for w in words:
    words_dict[w] = len(w)

In [175]:
words_dict

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

1. Create a dictionary called `person` for a person whose  
name is "Juan"  
age is 44  
2. He has 3 siblings. Add this information to the dict  
3. He just turned 45. Update the dictionary

In [176]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [177]:
# dict comprehension
{w: len(w) for w in words}

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

In [178]:
# more use cases
{w.upper(): len(w) for w in words}

{'PLAY': 4,
 'FILLING': 7,
 'BAR': 3,
 'THEATRE': 7,
 'EASYGOING': 9,
 'DATE': 4,
 'LEAD': 4,
 'THAT': 4,
 'STORY': 5,
 'ISLAND': 6}

In [181]:
# more use cases
{w.upper(): len(w) for w in words if len(w) > 5}

{'FILLING': 7, 'THEATRE': 7, 'EASYGOING': 9, 'ISLAND': 6}

In [184]:
{w.upper(): ind for ind, w in enumerate(words)}

{'PLAY': 0,
 'FILLING': 1,
 'BAR': 2,
 'THEATRE': 3,
 'EASYGOING': 4,
 'DATE': 5,
 'LEAD': 6,
 'THAT': 7,
 'STORY': 8,
 'ISLAND': 9}

**Exercise**: you are given a dict of ages.  
Create a dictionary containing their ages in 5 years time.

In [186]:
ages = {
    "Alice": 24,
    "Bob": 28,
    "Eve": 34,
    "John": 19
}

In [190]:
# classic
new_ages = dict()
for name, age in ages.items():
    new_ages[name] = age + 5

In [191]:
new_ages

{'Alice': 29, 'Bob': 33, 'Eve': 39, 'John': 24}

In [ ]:
# dict comprehension
{name: age + 5 for name, age in ages.items()}

In [193]:
# other thing
[age + 10 for name, age in ages.items()]

[34, 38, 44, 29]

In [196]:
# we can iterate over arbitrary iterable objects, like for example, strings
{char.upper(): char + "juan" for char in "pepito"}

{'P': 'pjuan', 'E': 'ejuan', 'I': 'ijuan', 'T': 'tjuan', 'O': 'ojuan'}

## Set comprehensions

**Exercise**: you are given country-age pairs for several users. Build a set with unique countries.

In [205]:
codes = ["es-91", "en-88", "en-43", "fr-12", "it-33", "es-15", "fr-55", "es-66", "usa-55"]

In [214]:
# check split method
code = "usa-91"
code.split("-")[0]

In [219]:
# list comprehension
[c.split("-")[0] for c in codes]

['es', 'en', 'en', 'fr', 'it', 'es', 'fr', 'es', 'usa']

In [220]:
set([c.split("-")[0] for c in codes])

{'en', 'es', 'fr', 'it', 'usa'}

In [222]:
# equiv
{c.split("-")[0] for c in codes}

{'en', 'es', 'fr', 'it', 'usa'}

## Summary

 * Comprehensions are elegant.
 * Comprehensions are compact.
 * Readability counts: do not ALWAYS use comprehensions.
 * List, set, dict comprehensions

## Timings

In [230]:
nums = list(range(10 ** 6))

In [228]:
%%timeit
squares = []
for n in nums:
    squares.append(n ** 2)

477 ms ¬± 19.7 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [229]:
%%timeit
[x ** 2 for x in nums]

440 ms ¬± 13.7 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

Very similar times as expected